
@{
    ViewData["Title"] = "Companies";
    Layout = "~/Views/Shared/Admin/_AdminListLayout.cshtml";
}

<!-- Functionality -->


<div class="func-list-page mb-2">

    <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">

</div>

<!-- Card List -->

<div>
    <div class="card-grid">
        <a href="/admincompanyeditpanel.html" class="c-card width-100">
            <div class="c-card-header">
                <img src="/images/profile-user.png" alt="">
            </div>
            <div class="c-card-body">
                <span>Çikolatacım</span>
                <span>Wilyy Wonka</span>
                <span class="btn btn-success btn-xs">Mail Doğrulaması Yapıldı</span>
                <span>Çalışan Sayısı: 2000</span>
                <span> &nbsp; </span>
            </div>
        </a>
        <a href="/admincompanyeditpanel.html" class="c-card width-100">
            <div class="c-card-header">
                <img src="/images/profile-user.png" alt="">
            </div>
            <div class="c-card-body">
                <span>Şirket Adı: Osmanlı Nargile</span>
                <span>Yönetici Adı: Osman Tuğra</span>
                <span class="btn btn-warning btn-xs">Mail Doğrulaması Bekleniyor</span>
                <span>xd@gmail.com</span>
                <span> &nbsp; </span>
            </div>
        </a>
    </div>
</div>

