
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/Guess/_GuessLayout.cshtml";
}

<!-- Comments Showcase -->

<section class="comments-page my-4">
    <div class="explanation mb-4">
        <h2>Kullanıcı Yorumları</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, quibusdam!</p>
    </div>
    <div>
        <div class="card" id="comments">
            @*Web servisten ajax ile çekildi*@
        </div>
    </div>

    <div class="mt-4">
        <button type="button" class="btn btn-outline-primary btn-xl width-100">Daha Fazla Yükle</button>
    </div>
</section>

@section scripts{
    <script src="~/ajax/Guest/guest.js"></script>
}

