
@{
    ViewData["Title"] = "CommentDetail";
    Layout = "~/Views/Shared/Guess/_GuessLayout.cshtml";
}

<!-- Content -->
<section>
    <div class="comment-detail-page">

        <div class="comment-company-detail mb-2">
            <div>
                <h4 class="mb-2">Sektör</h4>
                <span>Film</span>
            </div>
            <div>
                <h4 class="mb-2">Çalışan</h4>
                <span>3000+</span>
            </div>
            <div>
                <h4 class="mb-2">Ülke</h4>
                <span>Amerika</span>
            </div>
            <div class="d-flex flex-column">
                <h4 class="mb-2">Uygulamalar</h4>
                <span class="mb-2">Performans</span>
                <span>Değerlendirme</span>
            </div>
        </div>

        <hr class="mb-2">

        <div class="comment mb-2">
            <div class="comment-user d-flex flex-column">
                <p class="mb-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, odio."</p>
                <h5>Jason Statham</h5>
            </div>

            <div class="comment-text">
                <h2 class="mb-2">Jason Statham - Aksiyon Filmi Yıldızı</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, in impedit fugit minima
                    repudiandae eum nesciunt quas repellat, voluptatibus incidunt veniam quidem ab labore laudantium
                    minus veritatis magnam excepturi quam aspernatur asperiores quisquam quis voluptatum? Vel minus,
                    laboriosam labore cumque mollitia illo itaque corporis est nulla odit reprehenderit rem
                    dignissimos voluptatibus hic facilis adipisci aspernatur! Voluptate, dolorum assumenda. Tenetur
                    qui ullam, perferendis consequuntur cum, autem sed molestias molestiae temporibus tempore eos
                    ipsum laudantium laborum fuga unde? Pariatur voluptatum provident aspernatur quidem, repellat
                    mollitia doloremque tenetur explicabo numquam, accusamus soluta quisquam cumque tempora quae
                    saepe similique temporibus dolore iste vel aut?
                </p>
            </div>
        </div>
        <hr class="my-4">
        <div class="comment-others">
            <div class="comment-card">
                <img src="https://pbs.twimg.com/profile_images/1386230357897383938/P5OdLQaO_400x400.jpg" alt="">
                <a href="#" class="my-2">
                    <h5 class="mb-2">Jason Statham</h5>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ducimus!</span>
                </a>
            </div>
            <div class="comment-card">
                <img src="https://pbs.twimg.com/profile_images/1386230357897383938/P5OdLQaO_400x400.jpg" alt="">
                <a href="#" class="my-2">
                    <h5 class="mb-2">Jason Statham</h5>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ducimus!</span>
                </a>
            </div>
            <div class="comment-card">
                <img src="https://pbs.twimg.com/profile_images/1386230357897383938/P5OdLQaO_400x400.jpg" alt="">
                <a href="#" class="my-2">
                    <h5 class="mb-2">Jason Statham</h5>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ducimus!</span>
                </a>
            </div>
        </div>
        <div class="d-grid mt-4">
            <a class="btn btn-outline-primary mt-4" id="btnLoadMore">Daha fazla yükle</a>
        </div>
    </div>
</section>

