
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/Guess/_GuessLayout.cshtml";
}

<!-- Comments Showcase -->

<section class="comments-page my-4">
    <div class="explanation mb-4">
        <h2>Kullanıcı Yorumları</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, quibusdam!</p>
    </div>
    <div>
        <div class="card">
            <img class="card-image" src="https://media-cdn.t24.com.tr/media/library/2021/01/1611237404551-jasonnn.jpg" alt="">
            <div class="card-details">
                <div>
                    <img class="card-logo mb-1" src="/images/kd_logo.png" alt="">
                    <span class="card-title mb-2">3000+ Çalışan</span>
                </div>
                <h2 class="card-content my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae. Maxime harum excepturi provident? Natus totam autem magni cupiditate quam.</h2>
                <a href="#" class="btn btn-primary">İncele</a>
            </div>
        </div>
        <div class="card">
            <img class="card-image" src="https://media-cdn.t24.com.tr/media/library/2021/01/1611237404551-jasonnn.jpg" alt="">
            <div class="card-details">
                <div>
                    <img class="card-logo mb-2" src="/images/kd_logo.png" alt="">
                    <span class="card-title mb-2">3000+ Çalışan</span>
                </div>
                <h2 class="card-content my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae. Maxime harum excepturi provident? Natus totam autem magni cupiditate quam.</h2>
                <a href="#" class="btn btn-primary">İncele</a>
            </div>

        </div>
        <div class="card">
            <img class="card-image" src="https://media-cdn.t24.com.tr/media/library/2021/01/1611237404551-jasonnn.jpg" alt="">
            <div class="card-details">
                <div>
                    <img class="card-logo mb-2" src="/images/kd_logo.png" alt="">
                    <span class="card-title mb-2">3000+ Çalışan</span>
                </div>
                <h2 class="card-content my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae. Maxime harum excepturi provident? Natus totam autem magni cupiditate quam.</h2>
                <a href="#" class="btn btn-primary">İncele</a>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button type="button" class="btn btn-outline-primary btn-xl width-100">Daha Fazla Yükle</button>
    </div>
</section>

