
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Guess/_GuessLayout.cshtml";
}

<!-- Showcase -->

<header class="d-flex flex-column p-standart jc-between">
    <div class="clr-white txt-center">
        <h1 class="mt-4 py-2">Lorem ipsum dolor</h1>
        <span class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, laboriosam?</span>
    </div>
    <div class="d-none mx-auto mt-2">
        <a href="register.html" class="btn clr-primary mx-2">ÜCRETSİZ DENE</a>
        <a href="login.html" class="btn btn-outline-white clr-white">GİRİŞ YAP</a>
    </div>
    <div class="showcase-images">
        <img src="https://images8.alphacoders.com/996/996755.jpg" alt="">
        <img src="https://i.pinimg.com/originals/9c/66/7f/9c667f9649f3c5afb32eafa4851c3850.jpg" alt="">
    </div>
</header>

<!-- Functionality -->

<section class="functionality p-standart">
    <div class="card">
        <img class="card-image" src="/images/performance.png" alt="">
        <h1 class="card-title">Performans</h1>
        <span class="card-content">Tek platformdan çalışanlarınızı yönetin</span>
        <hr>

    </div>
    <div class="card">
        <img class="card-image" src="/images/workshift.png" alt="">
        <h1 class="card-title">Vardiya</h1>
        <span class="card-content">Çalışma zamanlarını verimli şekilde planlayın</span>
    </div>
    <div class="card">
        <img class="card-image" src="/images/spending.png" alt="">
        <h1 class="card-title">Harcama</h1>
        <span class="card-content">Çalışanlarınızın ihtiyaçlarını kolaylıkla karşılayın</span>
    </div>
</section>

<!-- Comments -->

<section class="comments p-standart d-flex">
    <div class="random-comments">
        <h1>Kullanıcı Yorumları</h1>
        <div class="mySlides">
            <div class="d-flex flex-column jc-between">
                <img class="slide-logo"
                     src="/images/kd_logo.png"
                     alt="">
                <span class="slide-comment">
                    "Çalışanlarımın izin taleplerini onaylamıyorum, zaten benim yüzümü gören
                    yok?"
                </span>
                <div class="company-manager">
                    <h1>Onur Çekiç</h1>
                    <span>Şirket Yöneticisi</span>
                </div>
            </div>
        </div>
        <div class="mySlides">
            <div class="d-flex flex-column jc-between">
                <img class="slide-logo"
                     src="/images/performance.png"
                     alt="">
                <span class="slide-comment">"Çalışanlarıma değer verdiğim için bu platformu kullanıyorum."</span>
                <div class="company-manager">
                    <h1>Kübra Coşkun</h1>
                    <span>Şirket Yöneticisi</span>
                </div>
            </div>
        </div>
        <div class="mySlides">
            <div class="d-flex flex-column jc-between">
                <img class="slide-logo"
                     src="https://seeklogo.com/images/K/kahve-dunyasi-logo-65084B42BA-seeklogo.com.png" alt="">
                <span class="slide-comment">"Hızlı, kolay ve efektif yönetim sağlamak için kullanıyorum."</span>
                <div class="company-manager">
                    <h1>Ayşenur Uğur</h1>
                    <span>Şirket Yöneticisi</span>
                </div>
            </div>
        </div>
    </div>

    <div class="random-employers d-flex jc-end ai-center">
        <div>
            <div class="card">
                <img class="card-image" src="https://imgrosetta.mynet.com.tr/file/9922293/640xauto.jpg" alt="">
                <h1 class="card-title">Lorem</h1>
                <span class="card-content">3000+ Çalışan</span>
            </div>
            <div class="card">
                <img class="card-image" src="https://imgrosetta.mynet.com.tr/file/9922293/640xauto.jpg" alt="">
                <h1 class="card-title">Lorem</h1>
                <span class="card-content">3000+ Çalışan</span>
            </div>
        </div>
        <div>
            <div class="card">
                <img class="card-image" src="https://imgrosetta.mynet.com.tr/file/9922293/640xauto.jpg" alt="">
                <h1 class="card-title">Lorem</h1>
                <span class="card-content">3000+ Çalışan</span>
            </div>
            <div class="card">
                <img class="card-image" src="https://imgrosetta.mynet.com.tr/file/9922293/640xauto.jpg" alt="">
                <h1 class="card-title">Lorem</h1>
                <span class="card-content">3000+ Çalışan</span>
            </div>
        </div>
    </div>
</section>

