@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/Employeer/_EmployeerListLayout.cshtml";
}

@section header {
    <h2>Merhaba </h2>
}

<input type="hidden" id="compId" value="@Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("id"))" />

@section modal {
    <!-- Modal -->
    <div class="crud-modal" id="addEmployeeModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>Çalışan Ekle</h4>
                <span class="btnCloseModal" onclick="closeModal('addEmployeeModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="managerAddEmployeeForm">
                    <div class="my-4 d-flex">
                        <div class="mr-1">
                            <label for="firstName" class="square-input-label">Ad</label>
                            <input type="text" class="square-input" id="firstName" name="firstName">
                        </div>

                        <div>
                            <label for="lastName" class="square-input-label">Soyad</label>
                            <input type="text" class="square-input" id="lastName" name="lastName">
                        </div>
                    </div>

                    <div class="my-4 d-flex">
                        <div class="mr-1">
                            <label for="title" class="square-input-label">Ünvan</label>
                            <input type="text" class="square-input" id="title" name="title">
                        </div>

                        <div>
                            <label for="mail" class="square-input-label">Mail Adresi</label>
                            <input type="email" class="square-input" id="mail" name="mail">
                        </div>
                    </div>

                    <div class="my-4 d-flex">
                        <div class="mr-1">
                            <label for="phoneNumber" class="square-input-label">Telefon</label>
                            <input type="text" class="square-input" id="phoneNumber" name="phoneNumber">
                        </div>
                    </div>

                    <div class="my-4 d-flex">
                        <div class="mr-1">
                            <label for="birthDate" class="square-input-label">Doğum Tarihi</label>
                            <input type="datetime-local" class="square-input" id="birthDate" name="birthDate">
                        </div>

                        <div>
                            <label for="startDate" class="square-input-label">İşe Başlama Tarihi</label>
                            <input type="datetime-local" class="square-input" id="startDate" name="startDate">
                        </div>
                    </div>


                    <div class="my-1">
                        <button type="button" href="#" id="saveEmployee" class="btn btn-primary ml-auto btn-sq">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<!-- Funtionality -->

<div class="func-list-page mb-2">

    <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">

    <!-- List Type -->
    <div class="d-flex radio-group">
        <input type="radio" name="list_type" id="card-type-list" class="d-none square-input" checked>
        <label for="card-type-list" class="square-input-label-solid">
            <img src="/images/card-list.png" alt="">
        </label>

        <input type="radio" name="list_type" id="table-type-list" class="d-none square-input">
        <label for="table-type-list" class="square-input-label-solid">
            <img src="/images/table-list.png" alt="">
        </label>
        <!-- Add Employee -->
        <button class="btn btn-primary ml-2" onclick="openModal('addEmployeeModal')">Çalışan Ekle</button>
    </div>
</div>

<!-- Table List -->

<div id="employee-table">
    <div>
        <table class="table table-striped width-100">
            <thead>
                <tr>
                    <th>Ad Soyad</th>
                    <th>Ünvan</th>
                    <th>Telefon</th>
                    <th>Mail</th>
                    <th>Durum</th>
                </tr>
            </thead>

            <tbody id="employeeTable">
                @*ajax ile çekildi*@
            </tbody>
        </table>
    </div>
</div>


<!-- Card List -->

<div id="employee-cards">
    <div class="card-grid" id="employees">
        @*Ajax ile çekildi.*@
    </div>
</div>
@section scripts{
    <script src="~/ajax/Manager/managerEmployee.js"></script>
}
