
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Employeer/_EmployeerLayout.cshtml";
}

@section header {

    <h2>Merhaba Şirket Adı</h2>
    <span>KD-34'e hoş geldiniz!</span>
}

@section remainingday{
    <div class="remaining-day">
        <span>Kalan gün sayısı</span>
        <a href="#" class="btn btn-outline-primary">Abone Ol</a>
    </div>
}

<div class="card first-card">
    <div class="card-header">
        <h3><i class="fas fa-chart-bar"></i> Çalışan Dağılımı</h3>
        <span>X</span>
    </div>
    <div class="content">
        <canvas id="companyManagerChart"></canvas>
    </div>
    <div class="card-footer">
        <span>Toplam Çalışan Sayısı 3000</span>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-umbrella-beach"></i> Resmi Tatiller</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-money-bill-wave-alt"></i> Ödeme Talepleri</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-calendar-alt"></i> Etkinlik Takvimi</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-user-clock"></i> Mesai Talepleri</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-calendar-alt"></i> Yaklaşan İzinler</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-plane "></i> İzin talepleri</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-birthday-cake"></i> Yaklaşan Doğum Günleri</h3>
        <span>X</span>
    </div>
    <div class="content">

    </div>
</div>

@section scripts {
<script>
    makeChart("companyManagerChart");

</script>
}

