@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid id = @Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("id"));
}
@{
    ViewData["Title"] = "ShiftBreak";
    Layout = "~/Views/Shared/Employeer/_EmployeerDetailsLayout.cshtml";
}


@section header {
    <h3>Vardiya/Mola Paneli</h3>
}

@section tabs{
    <div class="tabs">
        <a href=@Url.Action("ShiftBreak","Manager")>Genel</a>
        <a href=@Url.Action("AssignShiftBreak","Manager")>Vardiya/Mola Ata</a>
    </div>
}

@section functionality{ <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">

    <div class="d-flex radio-group">
        <button class="btn btn-primary ml-2" onclick="openModal('shiftBreakModal')">Vardiya/Mola Ekle</button>
    </div>
}

<input type="hidden" id="id" value="@id" />

<div>
    <table class="table table-striped width-100">
        <thead>
            <tr>
                <th>Tip</th>
                <th>Adı</th>
                <th>Başlangıç Saati</th>
                <th>Bitiş Saati</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Vardiya</td>
                <td>Tam Gün</td>
                <td>09:00</td>
                <td>17:00</td>
                <td>
                    <button class="btn btn-danger mx-auto">Sil</button>
                    <br>
                    <button class="btn btn-warning mx-auto"
                            onclick="openModal('shiftBreakModal')">
                        Güncelle
                    </button>
                </td>
            </tr>

            <tr>
                <td>Mola</td>
                <td>Öğlen Molası</td>
                <td>12:30</td>
                <td>13:30</td>
                <td>
                    <button class="btn btn-danger mx-auto">Sil</button>
                    <br>
                    <button class="btn btn-warning mx-auto"
                            onclick="openModal('shiftBreakModal')">
                        Güncelle
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

@section modal{
    <div class="crud-modal" id="shiftBreakModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>Vardiya/Mola Ekle</h4>
                <span class="btnCloseModal" onclick="closeModal('shiftBreakModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="managerAddShiftBreakForm">
                    <div class="my-3 d-flex">
                        <div class="mr-1">
                            <label for="startTime" class="square-input-label">Başlangıç Saati</label>
                            <input type="datetime-local" class="square-input" id="startTime" name="startTime">
                        </div>

                        <div>
                            <label for="endTime" class="square-input-label">Bitiş Saati</label>
                            <input type="datetime-local" class="square-input" id="endTime" name="endTime">
                        </div>
                    </div>
                    <div class="my-1">
                        <button href="#" id="saveShift" class="btn btn-primary ml-auto">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
@section scripts{ 
    <script>
        $("#saveShift").click(function () {
            var debit = {
                userId: $("#id").val(),
                beginDate: $("#startTime").val(),
                endDate: $("#endTime").val()
            };
            $.ajax({
                url: "http://localhost:12430/api/Shift/CreateShift",
                type: "POST",
                data: JSON.stringify(debit),
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    console.log(response);
                }
            })
        })
    </script>
}
