
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Employee/_EmployeeLayout.cshtml";
}

<div class="header">
    <h2>Merhaba Onur Çekiç</h2>
    <span>KD-34'e hoş geldiniz!</span>
    <input type="checkbox" name="" id="dropdown-toggle" class="dropdown-toggle">
    <div class="dropdown-task">
        <ul>
            <li><a href="employee.html"><i class="fas fa-home"></i>Ana Sayfa</a></li>
            <li><a href="listpageforemployee.html"><i class="fas fa-users "></i>Çalışanlar</a></li>
            <li><a href="dayoffsforemployee.html"><i class="fas fa-plane "></i>İzinlerim</a></li>
            <li><a href="debitsforemployee.html"><i class="fas fa-plane "></i>Zimmetlerim</a></li>
            <li><a href="expansesforemployee.html"><i class="fas fa-plane "></i>Harcamalarım</a></li>
            <li><a href="#"><i class="fas fa-calendar "></i>Takvim</a></li>
            <li><a href="usersettings.html"><i class="fas fa-cogs "></i>Ayarlar</a></li>
        </ul>
    </div>
    <label for="dropdown-toggle" class="dropdown-toggle-label">
        <span><i class="fas fa-plus fa-2x as-center"></i></span>
    </label>
</div>
<hr>

<div class="employee-details">

    <div class="card">
        <div class="card-header">
            <h3><i class="fas fa-plane "></i> İzin Bilgilerim/Yıllık İzin</h3>
            <span>X</span>
        </div>

        <div class="content">
            <div class="d-flex jc-between fs-xs">
                <span>Kalan</span>
                <span>Kullanılan</span>
            </div>
            <div class="d-flex jc-between fs-xl fw-bold">
                <span class="clr-primary">0.00 gün</span>
                <span class="clr-fade-black">0 gün</span>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sq" onclick="openModal('dayOffRequestModal')">
                İzin
                Talep Et
            </button>

            <div>
                <div class="d-flex jc-between fs-xs mt-1">
                    <span>Son izinlerim:</span>
                    <span></span>
                </div>

                <div class="d-flex jc-between fs-xs mt-1">
                    <span>4 Ekim 2021 (Mazaret İzni)</span>
                    <span><button class="btn btn-danger btn-xs">iptal et</button></span>
                </div>
            </div>
        </div>

        <div>
            <a class="pretty-link float-right mt-2" href="dayoffsforemployee.html">İzin Geçmişi -></a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3><i class="fas fa-umbrella-beach"></i> Resmi Tatiller</h3>
            <span>X</span>
        </div>
        <div class="content">
            <div class="d-flex jc-between fs-xs mb-1">
                <span>Cumhuriyet Baramı Arifesi</span>
                <span>28 Ekim 2021</span>
            </div>

            <div class="d-flex jc-between fs-xs mb-1">
                <span>Cumhuriyet Baramı</span>
                <span>29 Ekim 2021</span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3><i class="fas fa-plane "></i> İzin Talepleri</h3>
            <span>X</span>
        </div>
        <div class="content">
            <div class="d-flex jc-between fs-xs mb-1">
                <span>Onayınızı bekleyen izin talebi yok.</span>
            </div>
        </div>
    </div>

</div>

@section modal {
    <!-- Modal -->

    <div class="crud-modal" id="dayOffRequestModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>İzin Talep Et</h4>
                <span class="btnCloseModal" onclick="closeModal('dayOffRequestModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="employeeDayoffRequestForm">
                    <div class="my-3 d-flex">
                        <div class="mr-1">
                            <label for="dayoffType" class="square-input-label">İzin Türü</label>
                            <select name="dayoffType" id="dayoffType" class="square-input">
                                <option value="">Bir izin türü seçin</option>
                                <option value="1">Askerlik İzni</option>
                                <option value="2">Yıllık İzin</option>
                                <option value="3">Hastalık İzni</option>
                                <option value="4">Doğum İzni</option>
                            </select>
                        </div>

                        <div>
                            <label for="dayoffDay" class="square-input-label">Toplam (Gün)</label>
                            <input min="1" type="number" class="square-input" id="dayoffDay" name="dayoffDay">
                        </div>
                    </div>

                    <div class="my-3 d-flex">
                        <div class="mr-1">
                            <label for="startData" class="square-input-label">Başlangıç Tarihi</label>
                            <input type="datetime-local" class="square-input" id="startDate" name="startDate">
                        </div>

                        <div>
                            <label for="endDate" class="square-input-label">Bitiş Tarihi</label>
                            <input type="datetime-local" class="square-input" id="endDate" name="endDate">
                        </div>
                    </div>

                    <div class="mt-3 mb-1">
                        <label for="description" class="square-input-label">Açıklama</label>
                        <textarea name="description" id="description" cols="50" rows="10" class="square-input"></textarea>
                    </div>

                    <div class="my-1">
                        <button href="#" class="btn btn-primary ml-auto">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
