<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/custom/css/mystyle.css">
    <link rel="stylesheet" href="~/custom/css/utilities.css">
    
    <!-- Fontawesome for İcons -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="com-manager-page">
        <div>
            <div class="side-bar">
                <div>
                    <img src="/images/kd_logo_white.png" alt="">
                    <h2 class="as-center">KD-34</h2>
                </div>
                <hr>
                <ul>
                    <li><a href="employee.html"><i class="fas fa-home"></i>Ana Sayfa</a></li>
                    <li><a href="listpageforemployee.html"><i class="fas fa-users "></i>Çalışanlar</a></li>
                    <li><a href="dayoffsforemployee.html"><i class="fas fa-plane "></i>İzinlerim</a></li>
                    <li><a href="debitsforemployee.html"><i class="fas fa-plane "></i>Zimmetlerim</a></li>
                    <li><a href="expansesforemployee.html"><i class="fas fa-plane "></i>Harcamalarım</a></li>
                    <li><a href="#"><i class="fas fa-calendar "></i>Takvim</a></li>
                    <li><a href="usersettings.html"><i class="fas fa-cogs "></i>Ayarlar</a></li>
                </ul>
            </div>
        </div>
        <div class="content" id="render-container">
            @RenderBody()
        </div>
    </section>




    <div>
        @RenderBody()
    </div>

    @RenderSection("modal", false)

    <!-- Scripts -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/custom/js/validation.js"></script>
    <script src="~/custom/js/app.js"></script>
</body>
</html>
